@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800;900&display=swap');


*{
    margin: 0;
    padding: 0;
}

:root{
    --warnautama: #253890;
    --warnatulisan: #ffff;
}

.utama{
    background-color: var(--warnautama);
}

.beck{
    padding: 20px;
    color: var(--warnatulisan);
}

.next { 
    float: right;
    color: var(--warnatulisan);
}

.row a{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_app_mobile{
    max-width: 150px;
    margin-top: 25vh;
}

.picture{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--warnatulisan);
    text-decoration: none;
}

/* style login */
.row{
    margin: 8vh 5px;
}

.border{
    border-radius: 20px;
    padding: 60px 20px;
}

.logo_app_mobile-1{
    max-width: 60px;
}

.sign{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-weight: 900;
    color: var(--warnautama);
}

p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(193, 196, 199);
}

label{
    margin-left: 10px;
    /* background-color: red; */
}

.form-control{
    border-radius: 20px;
}

.button{
    background-color: var(--warnautama);
}
