@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

h2{
    font-family: 'Poppins', sans-serif;
    /* color: #b80e0e; */
    color: rgb(214, 209, 200);
}

h5 {
    font-family: 'Poppins', sans-serif;
    /* color: #b80e0e; */
    color: rgb(214, 209, 200);
}

.img-1 {
     max-width: 500px;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: -4vh;
 }

.copyright {
     font-family: 'Poppins', sans-serif;
     /* color: #b80e0e; */
     color: rgb(214, 209, 200);
     margin-top: 5px;
 }

 .colum-2{
    background-color: #b80e0e;
 }

 .lock{
    margin-top: 60px;
 }

 .login {
     font-family: 'Poppins', sans-serif;
     font-weight: normal;
 }

 label{
    padding-top: 20px;
 }
